<header>
<h1>スケジュール管理アプリ</h1>
</header>

<body>
<%= link_to "新規投稿", :new_schedule%>
<table>
<thead>
 <tr>
  <th>ID</th>
  <th>タイトル</th>
  <th>開始日</th>
  <th>終了日</th>
  <th>終日</th>
  <th>更新日時</th>
 </tr>
</thead>

<tbody>
 <% @schedules.each do |schedule| %>
   <tr>
    <td><%= schedule.id %></td>
    <td><%= schedule.title %></td>
    <td><%= schedule.startdate %></td>
    <td><%= schedule.enddate %></td>
    <td><%= schedule.checkbox %></td>
    <td><%= schedule.updated_at %></td>
   </tr>
 <% end %>
</tbody>
</table>

</body>




