<h2><%= @schedule.title%></h2>


 <% @schedules.each do |schedule| %>
   <tr>
    <td><%= link_to "編集", [:edit,schedule]%></td>
    <td><%= link_to "削除",schedule_path,method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
   </tr>
 <% end %>

<table>
 <tr>
  <th>開始日</th>
  <td><%= @schedule.startdate.strftime("%Y/%m/%d") %></td>
 </tr>
  <tr>
  <th>終了日</th>
  <td><%= @schedule.enddate.strftime("%Y/%m/%d") %></td>
 </tr>
  <tr>
  <th>終日</th>
  <td>
  <% if @schedule.checkbox == true %>
   <div>○</div>
  <%else%>
   <div></div>
  <%end%>
  </td>
 </tr>
  <tr>
  <th>スケジュールメモ</th>
  <td><%= @schedule.memo %></td>
 </tr>
</table>

<div>
 <ul>
  <li><%= link_to"← 一覧にもどる",schedules_path%></li>
 </ul>
</div>